
// ----------
// Forms
// ----------

input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=number],
input[type=file],
input[type=tel],
input[type=url],
select,
textarea {
  height: 45px;
  width: 100%;
  margin: 1rem 0;
  border: 1px solid #eeeeee;
}
